name: Reusable Dependency Scan

on:
  workflow_call:

jobs:
  dependency-scan:
    name: OWASP Dependency-Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run OWASP Dependency-Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: "cloud-security-projects"
          path: "."
          format: "ALL"
          out: "dependency-check-report"
          args: >
            --failOnCVSS 9

      - name: Upload Dependency-Check report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: dependency-check-report/
          retention-days: 30
